---
title: Contatti
lang: ita
---
<h3>Lumetta vive a Carapelle, vicino Foggia. Per contattare l'artista:</h3>
<ul>
	<li>Tel.: 0885 799 105</li>
	<li>Cell.:329 27 200 75</li>
	<li>Sito Internet: www.lumetta.it</li>
	<li>E-mail: lumetta@tele2.it</li>
	<li>Studio: Via Marconi, 5 - 71041 Carapelle(FG)</li>
</ul>
<h3>Gallerie di riferimento:</h3>
<ul>
	<li>Galleria d'Arte De Marchi, Bologna</li>
	<li>Centro d'Arte e Cultura "La Tavolozza", Porto Sant'Elpidio (AP)</li>
	<li>Galleria d'Arte "Valeno" Lucera, (FG)</li>
	<li>Galleria "Arte Contemporanea Roma", Foggia</li>
	<li>"Mediapolis", Stresa (Verona)</li>
</ul>
