---
title: Curriculum
lang: ita
---
<p>Caricone Lucia, in arte "Lumetta", è nata a Carapelle (Foggia) nel 1963. A Foggia
consegue il diploma presso l'Istituto Magistrale "C. Poerio". Fin da
giovanissima matura interesse per la storia dell'arte e le tecniche
pittoriche che approfondisce frequentando lo studio del prof. Salvatore Del
Vecchio, docente dell'Accademia di Belle Arti di Foggia. Alla fine degli
anni '90 inizia ad esporre in gallerie italiane ed europee. Attualmente
lavora nel suo studio di Carapelle.</p>

<p>Sue opere sono presenti in collezioni private e pubbliche tra cui quella in esposizione
permanente nella Quadreria del Castello Svevo di Trani (Bari). E' socia del Club
degli artisti di Foggia e del Kunst Forum International di Meinsterschwanden (Svizzera) nei pressi di Zurigo.</p>

<h3>Ha ricevuto premi e riconoscimenti nei seguenti concorsi:</h3>
	 <ul>
      <li>Foggia, Club degli Artisti, XXXII Premio Primavera 2000</li>
      <li>IV Premio Barletta Provincia, 2000</li>
      <li>Foggia, Club degli Artisti, XXXIII Premio
      Primavera, 2001;</li>
      <li>V Premio Barletta Provincia, 2001;</li>
      <li>Foggia, Club degli Artisti, XXXIV Premio
      Primavera, 2002</li>
      <li>Torino, Galleria La Telaccia, "La telaccia
      d'oro", 2002</li>
      <li>
      Gioia del Colle (Bari), Club Gioia, Premio
      Arte 2002</li>
      <li>San Crispino, Centro d'Arte e Cultura la
      Tavolozza, Porto Sant'Elpidio (AP), 2002</li>
      <li>Sanremo, X Festival Internazionale di
      pittura, 2002</li>
      <li>Barletta, V Concorso Nazionale di Arte Sacra,
      2002</li>
      <li>Vico del Gargano (FG), San Valentino, VII
      Premio Internazionale, 2003 (premio acquisto)</li>
      <li>Spotorno (SV), I Concorso Biennale
      Internazionale di Pittura</li>
      <li>Barletta (BA), II Biennale Internazionale
      d'arte "De Nittis", 2003</li>
      <li>Pietra Montecorvino (FG), Concorso Nazionale
      di Pittura, (2003), II Premio (premio acquisto)</li>
      <li>Premio S. Crispino, Porto sant'Elpidio (AP),
      2003 (premio acquisto)</li>
      <li>Vico del Gargano (FG), San Valentino, 2004,
      Premio Speciale della Critica</li>
    </ul>
