---
title: Dicono di lei
lang: ita
---
<h3>Hanno parlato delle sue opere televisioni private, giornali, riviste e riviste specializzate tra cui:</h3>
<ul>
	<li>TeleBlu</li>
	<li>TV Imperia</li>
	<li>I Protagonisti, n.6/2000</li>
	<li>Meridiano16, n.2,2000</li>
	<li>Il Quotidiano di Foggia, 08-02-00</li>
	<li>Senza Titolo, n.2/2001</li>
	<li>Senza Titolo, n.3/2002</li>
	<li>Arte Mondatori, dic.2001</li>
	<li>Arte Mondatori, gen.2002</li>
	<li>Ars, De Agostini, n.4/2002</li>
	<li>La Stampa, 28 febbraio 2003</li>
	<li>Il Secolo XIX, 26 febbraio 2003</li>
	<li><a href="http://www.sanremoworld.com/c220203.htm">Sanremo World</a> 22 febbraio 2003</li>
	<li>Arte In, n.86 agosto/settembre 2003</li>
	<li>Il Resto del Carlino, 13 settembre 2003</li>
	<li>Corriere Adriatico, 13 settembre 2003</li>
	<li>Arte in, n.87, ottobre/novembre 2003</li>
	<li>Corriere di Lucera e della Capitanata, settembre 2003</li>
	<li>Il Resto del Carlino, 21 febbraio 2004</li>
	<li>Arte in, n.89, febbraio/marzo 2004</li>
	<li>Art Journal, n. 3, maggio/giugno 2004</li>
</ul>
<h3>Cataloghi d'arte:</h3>
<ul>
	<li>La Telaccia d'oro 2002 (TO)</li>
	<li>Premio Internazionale d'Arte San Valentino VII ed. 2003</li>
	<li>Rassegne Arti Visive - 2002/2003</li>
	<li>Annuario d'Arte-Ass."G. De Nittis"-2002</li>
	<li>Art Diary, 2004</li>
	<li>Premio Internazionale d'Arte San Valentino VIII ed. 2004</li>
	<li>Asta di Primavera, IX Tornata, Marzo 2004, Mediapolis</li>
	<li>Quadreria del Castello di Trani</li>
	<li>Annuario d'Arte Moderna, Mondatori, 2005</li>
</ul>
<h3>Scritti e presentazioni in catalogo di:</h3>
<p>Etta Barnabotto, Ferdinando Calvè, Donat Conenna, Emilio Contini, Marco Corradi, Maria Dora
	Di Giacomo, Angelo Giacobbe, Valerio Grimaldi, Pierre Lafargue, Angela
	Mastropietro, Alfonso Palomba, Giuseppe Trincucci</p>
