---
title: Mostre
lang: ita
---
<h3>Tra le sue personali:</h3>
    <ul>
      <li>Foggia, Palazzetto dell'Arte, 2000</li>
      <li>Panni (Fg), Estate Pannese, personale in fiera, 2000</li>
      <li>Panni (Fg), Estate Pannese, personale in fiera, 2001</li>
      <li>Sanremo (IM), 22 Febbraio-10 Marzo, 2003</li>
      <li>Vico del Gargano (FG), Salotto d'Arte Pizzicato, 12-31 Luglio 2003</li>
      <li>Porto Sant'Elpidio, Villa Murri, 12-28 Settembre 2003</li>
      <li>Foggia Contemporanea Galleria D'Arte, 21 Novembre- 3 Dicembre, 2003</li>
      <li>Bologna, Galleria D'Arte De Marchi, 21 Febbraio-5 Marzo, 2004</li>
      <li>Stresa(Novara), Mediapolis c/o Centro Congressi Hotel Astoria, 17-30 Ottobre, 2004</li>
    </ul>

<h3>Tra le sue rassegne collettive:</h3>
	<ul>
		<li>Foggia, Palazzetto dell'arte, 1998</li>
      <li>Foggia, Club degli Artisti, 2000</li>
      <li>Barletta (Bari), Arte Poesia 200;</li>
      <li>Barletta, Arte Poesia, 2001</li>
      <li>Barletta, Arte Donna, 2001</li>
      <li>S. Giovanni Rotondo, 2001</li>
      <li>Foggia, Club degli Artisti, 2001</li>
      <li>Noicattaro (BA), 2001</li>
      <li>Mola di Bari, 2001</li>
      <li>Bari, Galleria la Vernice, 2001</li>
      <li>S. Lucia di Mentana (Roma), 2002</li>
      <li>Potenza, Galleria Idea Arte, 2002</li>
      <li>Foggia, Club degli Artisti, 2002</li>
      <li>Pescara, Galleria Arte Italia, 2002</li>
      <li>Gioia del Colle (Bari), Club Gioia, 2002</li>
      <li>Meisterschwanden, Kunst Forum International (Svizzera), 2002</li>
      <li>Torino, La Telaccia, 2002</li>
      <li>Porto Sant'Elpidio (AP) Villa Baruchello, 2002</li>
      <li>Bratislava (Slovacchia), Glass Art Design, Galeria Simone, 2002</li>
      <li>Sanremo (IM), Hotel Nyala, 2002</li>
      <li>Barletta (BA), Ass. G. De Nittis, 2002</li>
      <li>Vico del Gargano (FG), 2003</li>
      <li>Spotorno (SV), Lions Club, 2003</li>
      <li>Ostuni, (Brindisi), 2003</li>
      <li>Marigliano(Caserta), Galleria L'Eccentrico, 2003</li>
      <li>Pietra Montecorvino, (FG), 2003</li>
      <li>Porto Sant'Elpidio, Villa Baruchello, 2003</li>
      <li>Vico del Gargano(FG), 2004</li>
      <li>Stresa, (Novara), Mediapolis c/o Centro Congressi Hotel Astoria, 2004</li>
</ul>
