<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="../style/main.css"/>
		<link rel="shortcut icon" type="image/png" href="../images/icona.png"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="keywords" lang="it" content="lumetta, lucia, caricone, pittura, arte, mostre, opere, natura morta, realismo freddo"/>
		<meta name="description" lang="it" content="Caricone Lucia, in arte Lumetta, è una degli artisti più apprezzati e attivi
del panorama artistico della Capitanata. Consula la galleria online, contenente immagini ad alta risoluzione delle opere migliori.
Contatta l'artista per inviti o commissioni."/>
		<meta name="keywords" lang="en" content="lumetta, caricone, lucia, carapelle, contemporary art, painting"/>
		<meta name="description" lang="en" content="Lumetta is one of the most active artists in south Italy. Watch the online
gallery, which has high resolution images, and contact Lumetta"/>
	</head>
	<body>
		<div id="pagina" class="contenitore">
			<div id="intestazione">
			</div>
			<div id="sezione_principale" class="contenitore">
				<div id="colonna_sinistra">
					<ul id="navigazione">
					{{#each pages }}
						<li><a href="{{ filename }}">{{ data.title }}</a></li>
					{{/each }}
					</ul>
				</div>

				<div id="contenuto">
					<h1 id="titolo_pagina">{{ title }}</h1>
					{{> body }}
				</div>
			</div>
		</div>
		<div id="footer">
			<p>Valid XHTML 1.0, uses CSS 2</p>
		</div>
    <!-- Google analytics Start-->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-15796157-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
    <!-- Google analytics End-->
	</body>
</html>
