<h1>Contacts</h1>
<h3>Lumetta lives in Carapelle, near Foggia. To contact her:</h3>
<ul>
	<li>Tel.: +39 0885 799 105</li>
	<li>Cell.:+39 329 27 200 75</li>
	<li>Internet site: www.lumetta.it</li>
	<li>E-mail: lumetta@tele2.it</li>
	<li>Office: Via Marconi, 5 - 71041 Carapelle(FG)</li>
</ul>
<h3>Reference Galleries:</h3>
<ul>
	<li>Galleria d'Arte De Marchi, Bologna</li>
	<li>Centro d'Arte e Cultura "La Tavolozza", Porto Sant'Elpidio (AP)</li>
	<li>Galleria d'Arte "Valeno" Lucera, (FG)</li>
	<li>Galleria "Arte Contemporanea Roma", Foggia</li>
	<li>"Mediapolis", Stresa (Verona)</li>
</ul>