---
title: Curriculum
lang: eng
---
<p>Lucia Caricone, alias Lumetta, was born in Carapelle (Foggia) in 1963. She moved to
Foggia and studied at the Istituto magistrale C. Poerio. She became interested in art history and
painting techniques from a very young age and developed this interest by spending time
in the studio of prof. Salvatore Del Vecchio, teacher in Accademia di belle arti in Foggia.</p>

<p>At the end of the 1990 she began exhibiting her works in galleries
in Italy and abroad. She currently works in her studio in Carapelle. Her
works are in private and public collections, for exemple in "Quadreria del
castello" in Trani.</p>
