<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
	PUBLIC "-//W3C//XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
	<head>

<!-- Google analytics starts-->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15796157-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- Google Analytics ends-->

		<meta http-equiv="Content-Language" content="it" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- Codice per inserire il sito nel motore di ricerca MSN e Google e Yahoo -->
		<meta name="msvalidate.01" content="86233DEC124C69EA7B4C2B2EC0B15F08" />
		<meta name="verify-v1" content="hPvKkTlKP7JL10qQufTpziZmvsDydyaUOw6RmzlVtMc=" />
		<meta name="y_key" content="1179dc998dddc6fd" />
		<title>Lumetta: L'Arte oltre la Natura</title>
		<meta name="description" content="Lucia Caricone, in arte Lumetta, è ormai da 
diversi anni uno dei protagonisti più attivi sulla scena artistica foggiana. 
Ma alla predilezione per la terra natale oggi l'artista affianca una intensa 
attività espositiva che la sta rapidamente portando all'affermazione sul panorama nazionale. 
Visitando questo sito potrai consultare il catalogo delle opere e leggere la biografia, 
nonchè contattare Lumetta per inviti o commissioni" lang="it"/>
		<meta name="keywords" content="lumetta lucia caricone pittura arte quadri esposizioni mostre foggia carapelle" lang="it"/>
		<meta name="keywords" content="lumetta painting lucia caricone art portrait nature gallery" lang="en" />
		<meta name="description" content="Welcome to the Lumetta's official website. Lumetta, alias Lucia Caricone, is
		one of the most appreciate painters in South Italy, althought she acts in Europe and America too. Watch the
		online gallery, read her Curriculum or contact Lumetta." lang="en"/>
		<style type="text/css">
body {
background-color: white;
}

#riquadro {
background-color: white;
margin: auto;
border: 0;
padding: 0;
width: 800px;
}

a {
color: black;
text-decoration: underline;
}
		</style>
	</head>

<body>
	<div id="riquadro">
		<p style="text-align: right">
			<a href="area_riservata.php" style="color: #808080; font-size: 10px; text-decoration: none;">
			Manutenzione sito</a>
		<p>
		<img border="0" src="images/entrata.jpeg" width="800" height="125">
		<p style="text-align: center">
			<a href="galleria.php">Versione Italiana</a>
			<span> - - - </span>
			<a href="galleria_eng.php?lang=eng">English Version</a>
		<p>
		<p style="font-size: 11px; color: #909090;">
			Attenzione! - Questo sito è conforme agli standard più moderni del web. Se il tuo Browser non è già aggiornato
			(Microsoft IE precedente alla 7.0, Mozilla precedente alla versione 3.0, Firefox precedente alla versione 2.0)
			puoi farlo presso il sito del produttore oppure visitare la vecchia versione del sito, che viene mantenuta per
			motivi di retrocompatibilità con i vecchi browser. I possessori di Browser Safari non hanno di questi problemi.
			<a href="../1.5/index.htm">CLICCA QUI per visitare la vecchia versione</a>
		</p>
		<p style="font-size: 11px; color: #909090;">
			Welcome to Lumetta's official website. This site has been tested with MS Internet Explorer 7.0, Firefox 2.0 and
			Mozilla 3.0 - If your browser is older, then you are suggested to upgrade it. Anyway this site is known to
			work well even with older versions of these browsers. Safari Browsers shouldn't have problems.
		</p>
	</div>
</body>

</html>
