<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
	<head>
		<title>Lumetta - Oltre la natura: sito italiano della pittrice Lucia Caricone</title>
		<link rel="stylesheet" type="text/css" href="style/main.css"/>
		<link rel="shortcut icon" type="image/png" href="images/icona.png"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="keywords" lang="it" content="lumetta, lucia, caricone, pittura, arte, mostre, opere, natura morta, realismo freddo"/>
		<meta name="description" lang="it" content="Caricone Lucia, in arte Lumetta, è una degli artisti più apprezzati e attivi
del panorama artistico della Capitanata. Consula la galleria online, contenente immagini ad alta risoluzione delle opere migliori.
Contatta l'artista per inviti o commissioni."/>
		<meta name="keywords" lang="en" content="lumetta, caricone, lucia, carapelle, contemporary art, painting"/>
		<meta name="description" lang="en" content="Lumetta is one of the most active artists in south Italy. Watch the online
gallery, which has high resolution images, and contact Lumetta"/>
	</head>
	<body>
		<div id="pagina" class="contenitore">
			<div id="intestazione">
			</div>
			<div id="sezione_principale" class="contenitore">
				<div id="colonna_sinistra">
					<ul id="navigazione">
					<li><a href="curriculum_eng.php">Curriculum</a></li>
					<li><a href="galleria_eng.php?lang=eng">Gallery</a></li>
					<li><a href="recensioni_eng.php">Reviews</a></li>
					<li><a href="contatti_eng.php">Contacts</a></li>
					<li><a href="curriculum.php">Italiano</a></li>
					</ul>
				</div>
				
				<div id="contenuto">
<!-- Contenuto -->
<!-- Inserire il titolo in un tag h1 con attributo id = "titolo_pagina"-->
<newtext/>
<!-- -->
				</div>
			</div>
		</div>
		<div id="footer">
			<p>Valid XHTML 1.0 , uses CSS 2</p>
		</div>
	</body>
</html>
